

@model Cadastro_Ubuntu.Models.Ubuntu

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Ubunto</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
                    <dd>@Html.DisplayFor(model => model.Nome)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Idade)</dt>
                    <dd>@Html.DisplayFor(model => model.Idade)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Rg)</dt>
                    <dd>@Html.DisplayFor(model => model.Rg)</dd>
                </dl>
            </div>
            <div class="modal-footer">
               @* <button type="button" class="btn btn-danger" asp-controller="Ubuntu" asp-action="Index" data-dismiss="modal">Fechar</button>*@
                <a role="button" class="btn btn-danger"  asp-controller="Ubuntu" asp-action="Index">Fechar</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

 