@model List<Ubuntu>
@{
    ViewData["Title"] = "listagem dos Ubuntus";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" role="button" asp-controller="Ubuntu" asp-action="Create">Adicionar novo Ubuntu</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Registro Geral de Ubuntus</h1>

    <table id="table-ubuntus" class="display" border="5" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Identificação</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Rg</th>
                @*<th scope="col">Status</th>*@
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var ubuntu in Model)
                {
                    <tr>
                        <th scope="row">@ubuntu.Zero@ubuntu.Id </th>
                        <td>@ubuntu.Nome</td>
                        <td>@ubuntu.Idade</td>
                        <td>@ubuntu.Rg</td>
                        @*<th>@ubuntu.Status</th>*@
                        <td>
                            @*<td>
                                <a href="#" class="btn btn-default btnDetails" data-value="@ubuntu.Id">Details</a>
                                </td>*@
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@ubuntu.Id" asp-controller="Ubuntu" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@ubuntu.Id" asp-controller="Ubuntu" asp-action="Delete">Apagar</a>
                                <a role="button" class="btn btn-warning details" data-id="@ubuntu.Id" href="javascript:">Detalhes</a>

                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum ubuntu encontrado</td></tr>
            }
        </tbody>
    </table>

    <div id="resultModal" />

    @section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                //$("#modal").load("Details?id=" + id, function () {
                //    $("#modal").modal();
                //})
                $.ajax({
                    url: "/Ubuntu/_Modal/" + id,
                    type: 'GET',
                    success: function(res) {
                        $('#resultModal').html(res);
                        $('#modal').modal('show');
                      }
                    });
            });

        });
    </script>
    }


    @*<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        ...
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
        </div>
        </div>
        </div>

        @section scripts{
        <script type="text/javascript">

        $(document).ready(function () {

        $(".btnDetails").click(function (){

        var id = $(this).data("value";)

        $("#ubuntu").load("/Ubuntu/Details/" + id,
        function(){

        $('#myModal').modal("show");
        }

        });

        });

        </script>
        }


    *@
